@page "/ProductBase"
<button @onclick="()=>CreateRecive()">CreateRecive</button>
<button @onclick="()=>CreateSend()">CreateSend</button>
<button @onclick="()=>CreateAdjusted()">CreateAdjusted</button>

@code {

}
